[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
tweepy = "*"
elasticsearch = "*"
pyspark = "==2.4.7"
kafka-python = "*"
py4j = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.7"
